<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload Success</title>
    <style>
      .box {
        border: 1px solid black;
        padding: 10px;
        margin: 10px;
      }
      h1 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Upload Success</h1>
    <div class="box">
      <h2>Summary</h2>
      <p>{{ summary }}</p>
    </div>
    <div class="box">
      <h2>Suggested Improvements</h2>
      <ol>
        {% for flag in red_flags.split("\n\n") %}
          <ul>{{ flag }}</ul>
        {% endfor %}
      </ol>
    </div>
  </body>
</html>
